{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>
        [App Name] <!-- should be variable -->
    </title>
    <meta content="" name="author" />
    <meta content="" name="description" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    {% block styles %}
    {% endblock styles %}
</head>
<body>
    <noscript>
        <strong>
            We're sorry but natanaelfneto doesn't work properly without JavaScript enabled.
            Please enable it to continue.
        </strong>
    </noscript>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'dist/build.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
