{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>
        [App Name] <!-- should be variable -->
    </title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
    <meta content="" name="author" />
    <link type="stylesheet" href="{% static 'css/natanaelfneto.css' %}" />
    {% block styles %}
    {% endblock styles %}
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="{% static 'vue/app.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
