{% load staticfiles %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,500,600,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'plugins/canvas/css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'plugins/canvas/css/dark.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'plugins/swiper/css/swiper.css' %}" type="text/css" />

    <!-- Photography Specific Stylesheet -->
    <link rel="stylesheet" href="{% static 'plugins/canvas/photography/css/photography.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'plugins/canvas/photography/css/photography-addons.css' %}" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="{% static 'plugins/font-icons/font-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'plugins/one-page/css/et-line.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'plugins/animate/css/animate.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'plugins/magnific-popup/css/magnific-popup.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'plugins/canvas/photography/css/fonts.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'plugins/responsive/css/responsive.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />


    <!-- Document Title
    ============================================= -->
    <title>@natanaelfneto</title>
</head>
<body class="stretched side-header side-header-right open-header">
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        <div class="co-name hidden-sm hidden-xs center">
            <img src="demos/photography/images/logo-dark@2x.png" alt="Canvas Logo">
        </div>
        <!-- Header
        ============================================= -->
        <header id="header" class="no-sticky dark">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div class="header-title hidden-sm hidden-xs">Canvas Photography</div>
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <!-- Logo
                        ============================================= -->
                    <div id="logo" class="hidden-lg hidden-md">
                        <a href="demo-photography.html" class="standard-logo"
                            data-dark-logo="demos/photography/images/logo-dark.png">
                            <img src="demos/photography/images/logo.png" alt="Canvas Logo" />
                        </a>
                        <a href="demo-photography.html" class="retina-logo"
                            data-dark-logo="demos/photography/images/logo-dark@2x.png">
                            <img src="demos/photography/images/logo@2x.png" alt="Canvas Logo" />
                        </a>
                    </div><!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu" class="nobottommargin clearfix">
                        <ul>
                            <li class="current"><a href="#"><div>Home</div></a></li>
                            <li><a href="#"><div>Explore</div></a></li>
                            <li><a href="#"><div>Pricing</div></a></li>
                            <li><a href="#"><div>FAQs</div></a></li>
                            <li><a href="#"><div>Gallery</div></a></li>
                        </ul>
                    </nav><!-- #primary-menu end -->
                </div>

            </div>

            <div id="header-trigger"><i class="icon-line-menu"></i><i class="icon-line-cross"></i></div>

        </header><!-- #header end -->
        <!-- Top Slider
        ============================================= -->
        <section id="slider" data-loop="true" data-speed="1200" data-autoplay="5000"
            class="swiper_wrapper full-screen clearfix">
            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide dark"
                        style="background-image: url('{% static 'img/slider1.jpg' %}');">
                        <div class="container clearfix">
                            <div class="slider-text">
                                <h3>Portfolio and Resumé</h3>
                                <span>Natanael F. Neto</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="swiper-slide dark"
                        style="background-image: url('demos/photography/images/slider/2.jpg');">
                        <div class="container clearfix">
                            <div class="slider-text">
                                <h3>FireWorks Focus</h3>
                                <span>Function Pictures</span>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="swiper-slide dark"
                        style="background-image: url('demos/photography/images/slider/3.jpg');">
                        <div class="container clearfix">
                            <div class="slider-text">
                                <h3>Fashion Photography</h3>
                                <span>Black &amp; White Collections</span>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="swiper-slide dark"
                        style="background-image: url('demos/photography/images/slider/4.jpg');">
                        <div class="container clearfix">
                            <div class="slider-text">
                                <h3>Showing Camera</h3>
                                <span>Dark Collections</span>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="swiper-slide dark"
                        style="background-image: url('demos/photography/images/slider/5.jpg');">
                        <div class="container clearfix">
                            <div class="slider-text">
                                <h3>Model Photography</h3>
                                <span>Fashion Collections</span>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="swiper-slide dark"
                        style="background-image: url('demos/photography/images/slider/6.jpg');">
                        <div class="container clearfix">
                            <div class="slider-text">
                                <h3>Taking Snap</h3>
                                <span>Nature Collections</span>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
                <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
                <div id="slide-number">
                    <div id="slide-number-current"></div>
                    <span></span>
                    <div id="slide-number-total"></div>
                </div>
            </div>
            <a href="#" data-scrollto="#content" data-offset="0" class="dark one-page-arrow">
                <i class="icon-line-grid"></i>
            </a>
        </section><!-- #Slider End -->
        <!-- Author area
        ============================================= -->
        <div class="section dark notopmargin nobottommargin clearfix" style="padding: 100px 0;">
            <div class="container clearfix">
                <div class="row clearfix">
                    <div class="col-md-4 col-sm-5 col-md-offset-1 topmargin">
                        <img alt="img-author" style="border: 8px solid #333;"
                            src="{% static 'img/profile-picture-2017.png' %}" />
                        <div id="copyrights" class="nobg">
                                <div class="container clearfix">
                                    <div class="col_full center nobottommargin notopmargin">
                                        <a href="http://github.com/natanaelfneto" target="_blank"
                                            class="social-icon inline-block si-borderless si-github">
                                            <i class="icon-github-circled"></i>
                                            <i class="icon-github-circled"></i>
                                        </a>
                                        <a href="https://www.linkedin.com/in/natanael-f-neto-a0077b23/" target="_blank"
                                            class="social-icon inline-block si-borderless si-linkedin">
                                            <i class="icon-linkedin"></i>
                                            <i class="icon-linkedin"></i>
                                        </a>
                                        <a href="http://facebook.com/natanaelfneto" target="_blank"
                                            class="social-icon inline-block si-borderless si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="http://twitter.com/natanaelfneto" target="_blank"
                                            class="social-icon inline-block si-borderless si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <!-- <a href="http://instagram.com/natanaelfneto" target="_blank"
                                            class="social-icon inline-block si-borderless si-instagram">
                                            <i class="icon-instagram"></i>
                                            <i class="icon-instagram"></i>
                                        </a> -->
                                        <a href="mailto:natanaelfneto@outlook.com"
                                            class="social-icon inline-block si-borderless si-gplus">
                                            <i class="icon-envelope2"></i>
                                            <i class="icon-envelope2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 col-sm-7 col-md-offset-1">
                        <div class="topmargin hidden-md hidden-sm"></div>
                        <div class="heading-block noborder">
                            <h2 class="ls5">Natanael F. Neto</h2>
                            <span class="t300" style="font-size: 20px; color: #DDD; font-style: italic;">
                                "Some awesome quote that must be propagate"
                            </span>
                        </div>
                        <p class="text-muted" style="color: #888888;">
                            I'm an Electrical, Electronic, and Software Engineer.
                            Also, I'm CCO and Co-Founder at
                            <a href="http://need.eng.br">NEED.eng.br</a>.
                            Since 2016, my main occupation is as a Research
                            Engineer at the <a href="http://lais.huol.ufrn.br/">
                            Laboratory of Technological Innovation in Health - LAIS</a>.
                            I'm a current studant for the Master's Degree in
                            Science, Technology and Innovation at the
                            <a href="http://lais.huol.ufrn.br/">
                            Science, Techninology and Innovation Post-Grad Program</a>
                            - UFRN. In 2017 I finished a Specialization in
                            Health Informatics at <a href="http://eb.ct.ufrn.br/">
                            Department of Biomedical Engineering</a>
                            - DEB/UFRN. My Bachelor's Degree is in Electrical
                            Engineering at the <a href="https://www2.emc.ufg.br/">
                            Electrical, Mechanical and Computer Engineering School</a>
                            - EMC/UFG.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Portfolio Content
        ============================================= -->
        <section id="content" class="clearfix">
            <div class="content-wrap">
                <div class="container dark clearfix">
                    <div class="heading-block dark center noborder">
                        <h3>Recent Images</h3>
                        <span>Click on the photography grids</span>
                    </div>
                    <!-- Grid Items
                    ============================================= -->
                    <div class="grid">
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/1.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/1.jpg" alt="img01" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis recusandae beatae, possimus nam at facilis magni fugit atque. Facere saepe, inventore in. Sunt, laboriosam commodi distinctio sequi dolores quos numquam? <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/2.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/2.jpg" alt="img02" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/3.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/3.jpg" alt="img03" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/4.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/4.jpg" alt="img04" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/5.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/5.jpg" alt="img05" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/6.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/6.jpg" alt="img06" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/7.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/7.jpg" alt="img07" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/8.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/8.jpg" alt="img08" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/9.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/9.jpg" alt="img09" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/10.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/10.jpg" alt="img10" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/11.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/11.jpg" alt="img11" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/12.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/12.jpg" alt="img12" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/13.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/13.jpg" alt="img13" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/14.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/14.jpg" alt="img14" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/15.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/15.jpg" alt="img15" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/16.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/16.jpg" alt="img16" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/17.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/17.jpg" alt="img17" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/18.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/18.jpg" alt="img18" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item" data-size="1280x853">
                            <a href="demos/photography/images/items/19.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
                                <img src="demos/photography/images/items/19.jpg" alt="img19" />
                                <div class="description description-grid">
                                    <h3>Mother's Love</h3>
                                    <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <span>&mdash; Gary L. Francione</span></p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-line-camera"></i><span>Canon PowerShot S95</span></li>
                                            <li><i class="icon icon-line-eye"></i><span>22.5mm</span></li>
                                            <li><i class="icon icon-line-printer"></i><span>&fnof;/5.6</span></li>
                                            <li><i class="icon icon-line-cog"></i><span>1/1000</span></li>
                                            <li><i class="icon icon-line-sun"></i><span>80</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- /grid -->
                    <div class="preview">
                        <button class="action action-close">
                            <i class="icon-line2-close"></i>
                            <span class="text-hidden">Close</span>
                        </button>
                        <div class="description description-preview"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section><!-- #content end -->
        <div class="clear"></div>
        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark noborder clearfix" style="background-color: #282828">
            <!-- Copyrights
            ============================================= -->
            <div id="copyrights" class="nobg">
                <div class="container clearfix">
                    <div class="col_full center nobottommargin topmargin-sm">
                        &copy; NEED Tecnologia e Serviços LTDA. 2017. All Rights Reserved.</br></br>
                        <a href="http://facebook.com/needbrasil" target="_blank"
                            class="social-icon inline-block si-small si-borderless si-rounded si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="http://instagram.com/sneedbrasil" target="_blank"
                            class="social-icon inline-block si-small si-borderless si-rounded si-instagram">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>
                        <a href="mailto:eupreciso@need.eng.br"
                            class="social-icon inline-block si-small si-borderless si-rounded si-gplus">
                            <i class="icon-envelope2"></i>
                            <i class="icon-envelope2"></i>
                        </a>
                    </div>
                </div>
            </div><!-- #copyrights end -->
        </footer><!-- #footer end -->
    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="{% static 'plugins/jquery/js/jquery-2.2.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/canvas/js/plugins-pkg.js' %}"></script>
    <script src="{% static 'plugins/canvas/photography/js/photography-addons.js' %}"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{% static 'plugins/canvas/js/functions.js' %}"></script>
    <script>
        (function() {
            var support = { transitions: Modernizr.csstransitions },
                // transition end event name
                transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
                transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
                onEndTransition = function( el, callback ) {
                    var onEndCallbackFn = function( ev ) {
                        if( support.transitions ) {
                            if( ev.target != this ) return;
                            this.removeEventListener( transEndEventName, onEndCallbackFn );
                        }
                        if( callback && typeof callback === 'function' ) { callback.call(this); }
                    };
                    if( support.transitions ) {
                        el.addEventListener( transEndEventName, onEndCallbackFn );
                    }
                    else {
                        onEndCallbackFn();
                    }
                };

            new GridFx(document.querySelector('.grid'), {
                imgPosition : {
                    x : -0.5,
                    y : 1
                },
                onOpenItem : function(instance, item) {
                    instance.items.forEach(function(el) {
                        if(item != el) {
                            var delay = Math.floor(Math.random() * 50);
                            el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
                            el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
                            el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
                            el.style.transform = 'scale3d(0.1,0.1,1)';
                            el.style.opacity = 0;
                        }
                    });
                },
                onCloseItem : function(instance, item) {
                    instance.items.forEach(function(el) {
                        if(item != el) {
                            el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
                            el.style.transition = 'opacity .4s, transform .4s';
                            el.style.WebkitTransform = 'scale3d(1,1,1)';
                            el.style.transform = 'scale3d(1,1,1)';
                            el.style.opacity = 1;

                            onEndTransition(el, function() {
                                el.style.transition = 'none';
                                el.style.WebkitTransform = 'none';
                            });
                        }
                    });
                }
            });
        })();

        jQuery(document).ready(function($) {
            var swiperSlider = $('.swiper-parent')[0].swiper;
            swiperSlider.enableKeyboardControl();
        });

    // </script>
</body>
</html>
